/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "PTSans-Bold";
  src: url(assets/fonts/PTSans-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "PTSans-Regular";
  src: url(assets/fonts/PTSans-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "PTSans-Italic";
  src: url(assets/fonts/PTSans-Italic.ttf) format("truetype");
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100%;
}
