<div class="container-fluid header">
  <div class="row">
    <div class="col m-auto">
      <a href="#">
        <img
          src="../../../../assets/images/objective.png"
          class="img-fluid"
          alt=""
        />
      </a>
    </div>
    <div class="col">
      <div class="row">
        <div class="col-8 col-lg-11 d-flex justify-content-end">
          <div class="row">
            <div class="col-12 col-lg-6 m-auto">
              <span class="name-font">Jackie</span>
            </div>
            <div class="col-12 col-lg-6 m-auto">
              <span class="description-font">Teste de Front-end</span>
            </div>
          </div>
        </div>
        <div class="col-4 col-lg-1 m-auto">
          <button class="avatar">CB</button>
        </div>
      </div>
    </div>
  </div>
</div>
